.container-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blueDull);
  width: 90%;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  height: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.container-task:nth-child(3n+1) {
  background-color: blueDull;
  opacity: 0.9;
}

.container-task:nth-child(3n+2) {
  background-color: blueDull;
  opacity: 0.8;
}

.container-task:nth-child(3n+3) {
  background-color: blueDull;
  opacity: 0.7;
}

.container-task:hover {
  background-color: var(--orange);
}

.container-task.completed{
  background-color: var(--blue);
  transition: 0.5s;
  text-decoration: line-through var(--white);
}

.task-item {
  color: #fff;
  overflow-wrap: anywhere;
  width: 100%;
}

.task-icon {
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
}