.container-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blueDull);
  width: 85%;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  height: auto
}

.container-task:hover {
  background-color: var(--orange);
}

.container-task.completed{
  background-color: var(--blue);
  transition: 0.5s;
  text-decoration: line-through var(--white);
}

.task-item {
  color: #fff;
  overflow-wrap: anywhere;
}

.task-icon {
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
}